{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Page Not Found" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/500.css' %}">
</head>
<body class="font-inter bg-body text-gray-100 overflow-x-hidden">
    <main>
        <div class="container animate-in">
            <h2 class="main-title">{% trans "500 Error" %}</h2>
            <p class="message">{% trans "There is a problem." %}</p>
        </div>
    </main>
    <footer class="footer animate-in">
        <p class="footer-text">© 2025 Meric Sheehan. All rights reserved.</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
</body>
</html>