{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Enter Password" %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stylepass.css' %}">
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
</head>
<body>
    <h1>Access Test Environment: {{ test_request.title }}</h1>
    <form class="form" method="post">
        {% csrf_token %}
        <ul class="wrapper">
            <li style="--i:4;" ><input class="input" id="name" type="text" placeholder="Full Name" required=""></li>
            <li style="--i:3;"><input class="input" placeholder="Passcode" type="password" id="password" name="password" required></li>
            <li style="--i:2;"><input class="input" type="email" id="email" placeholder="E-mail" required="" name="email"></li>
            <button style="--i:1;"type="submit">Submit</button>
        </ul>
    </form>
</body>
</html>